.product {
  display: flex;
  padding: 10px;
}
.thumbnail {
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.product .price {
  font-size: 16px;
  font-weight: 600;
}
.product .title {
  font-size: 17px;
  font-weight: 600;
}
.product .date {
  color: grey;
  font-size: 13px;
}

.detail-pic {
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: darkgrey;
  border-radius: 10px;
}
